.bookmark-icon {
    width: 48px;
    height: 48px;
    margin: 5px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: #111;
    transition: transform 0.3s;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookmark-icon:hover {
    transform: scale(1.1);
}

.bookmark-tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.bookmark-icon:hover .bookmark-tooltip {
    opacity: 1;
}

.bookmark-icon img {
    width: 80%;
    height: auto;
}

.delete-bookmark {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    display: none; /* 默认隐藏删除按钮 */
}

.delete-mode .delete-bookmark {
    display: block; /* 删除模式下显示红叉按钮 */
}